* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    background-color: #f3f6fd;
    font-weight: 400;
}

.app {
    display: flex;
}

.logo {
    margin-bottom: 50px;
}

.panel {
    background: white;
    min-height: 100vh;
    padding: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__item {
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.menu__add {
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #CAD5FF;
    border-radius: 14px;
    cursor: pointer;
}

.menu__item-active {
    background: #5051F9;
}

.menu__item:hover {
    background: #6A6AFB;
}

.menu__item:hover img,
.menu__item-active img {
    filter: brightness(0) invert(1);
}

.menu__add:hover {
    background: #f9fbff;
}

.content {
    flex-grow: 1;
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 70%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #000000;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px
}

.progress__name {
    font-size: 14px;
    line-height: 16px;
    color: #232360;
}

.progress__bar {
    width: 100%;
    height: 5px;

    background: #E6E9ED;
    border-radius: 4px;
    overflow: hidden;
}

.progress__cover-bar {
    /* width: 80%; */
    transition: all 0.5s;
    height: 5px;

    background: #5051F9;
    border-radius: 4px;
}

#days {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.habbits {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.habbit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 55px;

    background: #FFFFFF;
    border-radius: 10px;
    gap: 10px;

    padding-right: 10px;
}

.habbit__day {
    width: 130px;
    text-align: center;
    background: #FBFAFF;
    border-right: 1px solid #E7EBFB;
    height: 100%;
    padding: 15px;
    min-width: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.habbit__comment,
.habbit__form {
    flex-grow: 1;
}

.habbit__form {
    position: relative;
    display: flex;
    gap: 15px;
}

.input__icon {
    position: absolute;
    top: 10px;
    left: 35px;
}

.habbit>div {
    padding: 0 15px;
}

.habbit__delete {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.habbit__delete:hover {
    background: #eff2ff;
}

input {
    font-family: 'comfortaa';
    font-size: 14px;
    width: 100%;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #E7EBFB;
    border-radius: 9px;
    padding: 10px 45px;
    outline: none;
    padding: 10px 0 10px 45px;
}

input.error {
    border: 1px solid red;
}

.button {
    font-family: 'comfortaa';
    font-size: 13px;
    width: 100%;
    max-width: 120px;
    height: 39px;
    background: #EDECFE;
    color: #5051f9;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background: #c6c4f7;
}

.input-icon::before {
    content: 'dasd';
}

.cover {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-hidden {
    display: none;
}

.popup {
    position: relative;
    background-color: white;
    padding: 22px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.popup__form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 18px 0;
    width: 100%;
    align-items: center;
}

.popup__form input {
    padding: 10px 20px;
}

.icon-select {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 9px 0;
}

.icon {
    background: transparent;
    border: 1px solid #5051F9;
    width: 45px;
    height: 45px;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.icon-active {
    background: #5051F9;
}

.icon:hover {
    background-color: #6A6AFB;
}

.icon-active img,
.icon:hover img {
    filter: brightness(0) invert(1);
}

.close-popup {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    line-height: 27px;
}

.icon-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #768396;
}

button.delete {
    margin-right: auto;
    background: transparent;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.habbit__title {
    display: flex;
}

.habbit>form {
    padding: 0 15px;
}

@media screen and (max-width: 1024px) {
    .content {
        max-width: 100%;
    }

    h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: flex-start;
    }

    .content {
        padding: 20px;
    }

    .progress {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .habbit {
        flex-direction: column;
        height: auto;
        padding-right: 0px;
        align-items: flex-start;
    }

    .habbit__day {
        padding: 10px 0 !important;
        width: 100%;
        min-width: auto;
        border: none;
    }

    .habbit__delete {
        align-self: flex-end;
    }

    .habbit__form {
        flex-direction: column;
        width: 100%;
    }

    .habbit>form {
        padding: 0 15px 15px 15px;
    }

    .button {
        max-width: none;
    }

    .panel {
        padding: 15px;
    }

    .popup {
        min-width: auto;
        max-width: 80vw;
        width: 100%;
    }

}

@media screen and (max-width: 380px) {
    .app {
        flex-direction: column;
    }

    .panel {
        min-height: auto;
        text-align: center;
    }

    .menu {
        flex-direction: row;
        overflow: scroll;
    }

    .menu__list {
        flex-direction: row;
        padding: 20px 0;
    }

    .logo {
        margin-bottom: 0px;
        max-width: 30%;

    }

}